<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Homepage</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">Tamnet</div>
        <div class="navbar-links">
            <ul>
                <li><a href="#">Users</a></li>
                <li><a href="#">Topics</a></li>
                 <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="feed">
        
    </div>
</body>
</html>