<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Homepage</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="/home">Tamnet</a></div>
        <div class="navbar-links">
            <ul>
                <li><a href="/users">Users</a></li>
                <li><a href="/topics">Topics</a></li>
                <li><a href="/about">About</a></li>
                 <li><a href="/logout" class="logout">Logout</a></li>            </ul>
        </div>
    </nav>
     <div class="feed">
        <% for(post in feed){ %>
        <div class="post">
            <div class="topic-tab">
                @<%= feed[post].username %> in @<%= feed[post].name%>
            </div>
            <div class="post-title">
                <%= feed[post].title %>
            </div>
            <div class="content-preview">
                <%= feed[post].description %>
            </div>
            <div class="statistics">
                likes, and potential extras will go here!
            </div>
        </div>
        <% } %>
    </div>
    <div class="post-button"><a href="/post">
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <!-- Created with Inkscape (http://www.inkscape.org/) -->

        <svg
        width="5.291667mm"
        height="5.2916656mm"
        viewBox="0 0 5.291667 5.2916656"
        version="1.1"
        id="svg5"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg">
        <defs
            id="defs2" />
        <g
            id="layer1">
            <path
            style="fill:#ffffff;stroke-width:1;stroke-dasharray:none;paint-order:fill markers stroke"
            d="M 2.6458328,1.3333333e-7 V 5.2916664 v 0"
            id="path248" />
            <path
            style="fill:#ffffff;stroke-width:1;stroke-dasharray:none;paint-order:fill markers stroke"
            d="M 5.2916668,2.6458333 H -1.6666667e-7 v 0"
            id="path250" />
        </g>
        </svg>
        </a>
    </div>

</body>
</html>