<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Homepage</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">Tamnet</div>
        <div class="navbar-links">
            <ul>
                <li><a href="#">Users</a></li>
                <li><a href="#">Topics</a></li>
                 <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="feed">
        <div class="post">
            <div class="topic-tab">
                @Lorem-ipsum-thinkers from @Iamloremipsum
            </div>
            <div class="post-title">
                Why is everyone saying lorum ipsum???
            </div>
            <div class="content-preview">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="statistics">
                likes, and potential extras will go here!
            </div>
        </div>
        <div class="post">
            <div class="topic-tab">
                @Lorem-ipsum-thinkers from @Iamloremipsum
            </div>
            <div class="post-title">
                Why is everyone saying lorum ipsum???
            </div>
            <div class="content-preview">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="statistics">
                likes, and potential extras will go here!
            </div>
        </div>
    </div>
</body>
</html>