<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>login</title>
</head>
<body>
    <div class="login-box">
        <h1>Welcome back</h1>
        <p>Username</p>
        <input type="form">
        <p>Password</p>
        <input type="form">
        <p>click sign in (login does nothing right now</p>
        <div class="sign-in-button"><a href="/home">sign in</a></div>
        <p>Don't have an account? <a href="#">register here!</a></p>
    </div>
    
</body>
</html>