<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Post</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="/home">Tamnet</a></div>
        <div class="navbar-links">
            <ul>
                <li><a href="/users">Users</a></li>
                <li><a href="/topics">Topics</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/logout" class="logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="post-box">
        <h1>Post something!</h1>
        <form method="post" action="/post">
            <p>Select a topic
            <select name="topic_id" required>
                <option value="">--Select a topic--</option>
                <% for(option in results) { %>
                <option value=<%= results[option].topic_id %>><%= results[option].name %></option>
                <% } %>
            </select>
            </p>
            <p>Title 
                <input type="text" name="title" maxlength="15" required>
            </p>
            <p>Enter text underneath</p>
            <textarea maxlength="400" name="content"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>