<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Sign up!</title>
</head>
<body>
    <div class="register-box">
    <form action="/register" method="POST">
        <h1>Sign up!</h1>
        <% if(errMessage) { %>
            <p class="alert"><%=errMessage %></p>
        <% } %>
        <p>Username<input class="form" type="form" id="username" name="username" required></p>
        <p>Password<input class="form" type="password" id="password" name="password" required></p>
        <button class="sign-up-button" type="submit">sign up</button>
        <p>Already have an account? <a href="/">sign in here</a></p>
    </form>  
       
    </div>
    

</body>
</html>