<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Search</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="/home">Tamnet</a></div>
        <div class="navbar-links">
            <ul>
                <li><a href="/users">Users</a></li>
                <li><a href="/topics">Topics</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/logout" class="logout">Logout</a></li>
            </ul>
        </div>
    </nav>
     <div class="feed">
        <form method="POST" action="/searching">
            <input class="search-box" type="search" name="query">
            <button class="search-button" type="submit">search</button>
        </form>
    </div>
</body>
</html>