<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Users</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="/home">Tamnet</a></div>
        <div class="navbar-links">
            <ul>
                <li><a href="/users">Users</a></li>
                <li><a href="/topics">Topics</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/logout" class="logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="users-list">
        <% for(users in results){ %>
        <div class="user-box">
            <h1><%= results[users].username %></h1>
            <a class="visit-user" href=<%= "/users/" + results[users].username %>>Visit</a>
        </div>
        <% } %>
    </div>
</body>
</html>