* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BED6D8;
}

/*Navbar*/

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 .5rem;
    background: -webkit-linear-gradient(45deg,#74D2CD, #DC2B9E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
}

.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.navbar-links li a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 3px;
}


.navbar-links .logout{
    background-color: #DC2B9E;
    color: #ffffff;
    border-radius: 5px;
    padding: .5rem;
    margin-top: .5rem;
    margin-right: .2rem;
 }

.navbar-links .logout:hover{
    background-color: #e574bd;
    text-decoration: none;
    border-radius: 5px;
    padding: .5rem;
    margin-top: .5rem;
    margin-right: .2rem;
 } 

/*login div*/

.login-box{
    position: 50 20;
    padding: 2rem;
    background-color: #74d2cd67;
    background-blend-mode: lighten;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
}

.sign-in-button{
    border-style: none;
    padding: 0.5rem;
    width: max-content;
    background-color: #74D2CD;
    transition: ease-out 100ms;
    color: #fff;
    text-decoration: none;
}

.sign-in-button:hover{
    background-color: #DC2B9E;
    transition: ease-out 100ms;
}

.form {
    margin-left: 0.2rem;
}

/*login div*/
.register-box{
    position: 50 20;
    padding: 2rem;
    background-color: #74d2cd67;
    background-blend-mode: lighten;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
}

.sign-up-button{
    border-style: none;
    padding: 0.5rem;
    width: max-content;
    background-color: rgb(116, 210, 116);
    transition: ease-out 100ms;
    color: #fff;
    text-decoration: none;
}

.sign-up-button:hover{
    background-color: rgb(166, 213, 166);
    transition: ease-out 100ms;
}

.form {
    margin-left: 0.2rem;
}

.alert{
    color: red;
}

/*Feed and post css*/

.feed{
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    border-radius: 3px;
}

.post{
    background-color: #cfe9eb;
    padding: 1rem 1rem 1rem 1rem;
    overflow-wrap: break-word;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    margin-bottom: 1rem;
}

.topic-tab{
    color: #787878;
}

.post-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: .2rem 0 .5rem 0;
}

.content-preview{
    margin: .5rem 0 .5rem 0;
}

/*Post button*/
.post-button{
    background-color: #DC2B9E;
    position: fixed; 
    bottom: 10%;
    right: 10%;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem; 
    transition: ease-out;
}

.post-button:hover{
    background-color: #e574bd;
    transition: ease-in;
}

.post-button svg{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.post-button svg path{
    stroke: #eac4dd;
}

/*Topic page styling*/
.topic-feed{
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 700px;
    border-radius: 3px;
}

.new-topic{
    display: flex;
    justify-content: space-between;
    background-color: #DC2B9E;
    align-content: center;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.new-topic > *{
    color: #ffffff;
    display: block;
    margin: 5px;
    padding: 5px;    
}

.make-topic {
    border-radius: 5px;
    background-color: #ffffff;
}

.make-topic:hover{
    background-color: #74D2CD;
}

.make-topic a{
    color: black;
    text-decoration: none;
}

.topic-box{
    background-color: #cfe9eb;
    overflow-wrap: break-word;
    padding: 1rem;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    margin-bottom: 1rem;
}

.open-topic{
    background-color: #DC2B9E;
    display: block;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.open-topic a{
    text-decoration: none;
    color: #ffffff;
}

.open-topic:hover{
    background-color: #e574bd;
}

.join{
    background-color: #DC2B9E;
    color: #ffffff;
    display: block;
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.join:hover{
    background-color: #e574bd;
}

/*User page*/
.users-list{
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 700px;
    border-radius: 3px;
}

.user-box{
    background-color: #cfe9eb;
    overflow-wrap: break-word;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    margin-bottom: 1rem;
}

.visit-user{
    background-color: #DC2B9E;
    display: block;
    height: fit-content;
    transform: translateY(1rem);
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    padding: .5rem;
    margin-top: .5rem;
    margin-right: .2rem;
}

.visit-user:hover{
    background-color: #e574bd;
    text-decoration: none;
    border-radius: 5px;
    padding: .5rem;
    margin-top: .5rem;
    margin-right: .2rem;   
}

/*Post page*/
.post-box{
    position: 50 20;
    padding: 2rem;
    background-color: #74d2cd67;
    background-blend-mode: lighten;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
}  

.post-box textarea{
    width: 100%;
    height: 10rem;
    resize: none;
}

.post-box button{
    background-color: #DC2B9E;
    color: #ffffff;
    padding: .5rem 1rem;
    border-width: 3px;
    border-radius: 1rem;
}

.post-box button:hover{
    background-color: #e574bd;
}

.post-box input, textarea, select{
    border-color: black;
    border-width: 3px;
}

/*search*/
.search-button{
    border-style: none;
    padding: 0.5rem;
    width: max-content;
    background-color: #DC2B9E;
    transition: ease-out 100ms;
    color: #fff;
    text-decoration: none;
}

.search-box{
    border-width: 3px;
}